$primary-color: #4468d6;
$secondary-color: #fff;
$base-border-radius: 2px;
$base-border-style: solid;
$base-border-width: 1px;
$base-border-color: #abb2bf;
$base-border-color-disabled: #dce1eb;
$base-box-shadow: 0px 6px 15px rgba(0, 44, 92, 0.1);
$base-button-padding: 0.5em 3em;
$base-text-color: #000;
